:root {
  --title-text-color: #212121;
  --buttons-text-color: #2196f3;
  --secondary-text-color: #757575;
  --header-footer-color: #2f303a;
  --option-button-color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.section {
  padding: 60px 0;
}

.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: space-evenly;
  }
}

.section-opti .current {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: var(--title-text-color);
  border-radius: 4px;
  background-color: var(--buttons-text-color);
}

.navigation {
  display: flex;
}

.navigation__list {
  list-style: none;
  display: flex;
  column-gap: 50px;
  margin-left: 93px;
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    justify-content: space-between;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    display: flex;
  }
}

.navigation__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  height: 100%;
  text-decoration: none;
  list-style: none;
  color: var(--title-text-color);
  gap: 10px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.navigation__link:focus, .navigation__link:hover {
  color: var(--buttons-text-color);
}
.navigation__link .current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  background-color: var(--buttons-text-color);
  bottom: -1px;
}

.header__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  text-decoration: none;
  list-style: none;
  color: var(--title-text-color);
  gap: 10px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header__link:focus, .header__link:hover {
  color: var(--buttons-text-color);
}
.header__link .current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  background-color: var(--buttons-text-color);
  bottom: -1px;
}

.header__icon-mail {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .header__icon-mail {
    height: 10px;
    width: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header__icon-mail {
    height: 12px;
    width: 16px;
  }
}

.header__icon-tel {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .header__icon-tel {
    height: 14px;
    width: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__icon-tel {
    height: 16px;
    width: 12px;
  }
}

.header__contact {
  display: flex;
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: block;
    margin-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    gap: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.navigation__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--buttons-text-color);
}

.header__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header__link:hover, .header__link:focus {
  color: var(--buttons-text-color);
}
@media screen and (min-width: 768px) {
  .header__link {
    height: 100%;
    align-items: center;
    font-size: 12px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .header__link {
    height: 100%;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.connect {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  list-style: none;
  color: var(--secondary-text-color);
}

.header__btn-open {
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
  display: block;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__btn-open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__btn-open {
    display: none;
  }
}

.header__btn-close {
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  display: block;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn-close:hover, .header__btn-closefocus {
  fill: #2196F3;
}

.header__menu-item {
  overflow: auto;
  padding: 15px;
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 48px;
  width: 100%;
  height: 100%;
  background-color: var(--option-button-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mobile-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 219px;
}

.header__mobile-link {
  font-size: 40px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  text-decoration: none;
  list-style: none;
  color: var(--title-text-color);
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header__mobile-link:focus, .header__mobile-link:hover {
  color: var(--buttons-text-color);
}

.header__mobile-link {
  font-size: 40px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header__mobile-link:hover, .header__mobile-link:focus {
  color: var(--buttons-text-color);
}

.header__mob-contact {
  gap: 32px;
  margin-left: auto;
}

.mobile-connect {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  list-style: none;
  color: var(--secondary-text-color);
}

.header__mob-link {
  display: flex;
  gap: 32px;
  text-decoration: none;
  list-style: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.mobile-tel {
  font-size: 34px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-top: 3px;
  margin-bottom: 32px;
}

.mobile-mail {
  font-size: 24px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 64px;
}

.header__mob-sites {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.header__mob-border {
  display: flex;
}
.header__mob-border:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header__sites-list {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
  padding-right: 10px;
}

.header__mob-menu > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.current {
  color: var(--buttons-text-color);
}

.logo {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  font-style: bold;
  text-decoration: none;
  color: var(--buttons-text-color);
  display: block;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.header__logo {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    display: flex;
    align-items: center;
  }
}

.studio {
  color: #000000;
}

.main {
  color: var(--option-button-color);
  background-color: var(--header-footer-color);
  padding: 118px 0;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pic/hero-mobile.jpg);
  height: 400px;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pic/Heder-img-middle.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pic/hbg.jpg);
    height: 600px;
    padding: 200px;
    align-items: center;
    justify-content: center;
  }
}

.main__effect {
  font-size: 26px;
  line-height: 1.6;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .main__effect {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .main__effect {
    font-size: 44px;
    line-height: 1.6;
    font-weight: 900;
    letter-spacing: 0.06em;
    width: 750px;
  }
}

.btn {
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--buttons-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  display: block;
  color: var(--option-button-color);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.btn:focus, .btn:hover {
  background-color: #188cf8;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  list-style: none;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
  }
}

.benefits__list {
  width: 100%;
  height: 226px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    width: calc((100% - 30px) / 2);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__picture {
  background-color: #F5F4FA;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits__picture {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__picture {
    margin-bottom: 0px;
  }
}

.benefits__name {
  font-size: 14px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-text-color);
}

.benefits__item {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199px) {
  .activ {
    max-width: 100%;
    display: none;
  }
}

.activ__name {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  font-style: bold;
  color: var(--title-text-color);
  padding-bottom: 50px;
}

.activ__section {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.activ__picture {
  display: flex;
  position: relative;
}

.activ__item {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  position: absolute;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--option-button-color);
  justify-content: center;
  font-style: normal;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  align-items: center;
  align-self: flex-end;
}

.team {
  background-color: #F5F4FA;
}

.team__our {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  font-style: bold;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .team__our {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.team__section {
  display: flex;
  list-style: none;
  padding-top: 30px;
  flex-wrap: wrap;
  gap: 30px;
}

.team__list {
  background: var(--option-button-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    width: calc((100% - 90px) / 4);
  }
}

.team__figure {
  margin: 0;
  background-color: var(--option-button-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__caption {
  padding: 30px;
}

.team__position {
  padding-top: 10px;
  text-align: center;
}

.team__member {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.team__position {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team__contact {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.client__constant {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  font-style: bold;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .client__constant {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.client__item {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  width: 100%;
  align-items: center;
}

.client__list {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__list {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    width: calc((100% - 150px) / 6);
  }
}

.client__picture {
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 3px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__picture:focus, .client__picture:hover {
  fill: var(--buttons-text-color);
  border-color: var(--buttons-text-color);
}

.team__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:focus, .team__link:hover {
  background-color: #188cf8;
}

.team__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover .team__icon {
  fill: var(--option-button-color);
}

.footer {
  background-color: var(--header-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
}

.footer__container {
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__join {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__join {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 70px;
  }
}

.footer__div {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__div {
    text-align: left;
  }
}

.footer__list {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  list-style: none;
  color: var(--secondary-text-color);
  display: block;
  margin-top: 20px;
  gap: 8px;
}

.footer__contact {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  color: var(--option-button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:focus, .footer__contact:hover {
  color: var(--buttons-text-color);
}

.footer__contacts {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contacts:focus, .footer__contacts:hover {
  color: var(--buttons-text-color);
}

.footer__studio {
  color: var(--option-button-color);
}

.join__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 4px;
  outline: none;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  color: var(--option-button-color);
}
@media screen and (min-width: 768px) {
  .join__input {
    width: 450px;
  }
}

.join__icon {
  fill: var(--option-button-color);
  margin-left: 10px;
}

.join__btn {
  border: none;
  display: flex;
  align-items: center;
}

.join__subscribe {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .join__p {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .join__p {
    margin-top: 0;
  }
}

.join {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: block;
  text-transform: uppercase;
  color: var(--option-button-color);
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .join {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    text-align: left;
  }
}

.join__item {
  margin-top: 20px;
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;
}

.join__link {
  margin-top: 20px;
  list-style: none;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .join__link {
    display: flex;
    flex-wrap: wrap;
  }
}

.join__list {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__list:focus, .join__list:hover {
  background-color: var(--buttons-text-color);
}

.join__picture {
  fill: var(--option-button-color);
}
.join__list:hover .join__picture {
  color: var(--option-button-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  padding: 40px;
  width: 450px;
  min-height: 609px;
  background-color: var(--option-button-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  justify-content: baseline;
  align-items: center;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:focus, .modal__close:hover {
  border: 1.5px solid var(--buttons-text-color);
  fill: var(--buttons-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal__text span {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  display: block;
}

.modal__span {
  position: relative;
}
.modal__span:focus, .modal__span:hover {
  color: var(--buttons-text-color);
}

.modal__area {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
  outline: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px 12px 16px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
}
.modal__area:focus {
  border-color: var(--buttons-text-color);
}

.modal__input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding: 12px 0px 12px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--buttons-text-color);
}
.modal__input:focus + .modal__icon {
  fill: var(--buttons-text-color);
}

.modal__icon {
  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(35%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__box {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__box {
    font-size: 14px;
    line-height: 1.16;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}
.modal__box::before {
  content: "";
  width: 18px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}
.modal__cbox:checked + .modal__box::before {
  border: none;
  background-image: url(../pic/check.svg);
  background-color: var(--buttons-text-color);
  background-repeat: no-repeat;
  background-position: center;
}

.modal__terms {
  color: var(--buttons-text-color);
}

.modal__checkbox {
  outline: none;
  display: flex;
  border-color: var(--buttons-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
}

.modal__sub {
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 30px;
}

.manu {
  background-color: var(--option-button-color);
  padding-bottom: 0px;
}

.manu__section {
  width: 100%;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  display: flex;
  column-gap: 8px;
  row-gap: 15px;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .manu__section {
    justify-content: center;
  }
}

.manu__options {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: var(--title-text-color);
  border-radius: 4px;
  background-color: #F5F4FA;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.manu__options:focus, .manu__options:hover {
  color: var(--option-button-color);
  background-color: var(--buttons-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.manu__options.current {
  color: var(--option-button-color);
  background-color: var(--buttons-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.tabs {
  display: flex;
  gap: 30px;
  list-style: none;
  flex-wrap: wrap;
}

.tabs__item {
  font-size: 18px;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
}
.tabs__item:focus .tabs__text, .tabs__item:hover .tabs__text {
  transform: translateY(0);
}

.tabs__picture {
  position: relative;
  overflow: hidden;
}

.tabs__text {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: var(--option-button-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px;
  padding-left: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  border: 1px solid #EEEEEE;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .tabs__list {
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .tabs__list {
    width: calc((100% - 60px) / 3);
  }
}
.tabs__list:focus, .tabs__list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.tabs__name {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  background-color: var(--option-button-color);
  border-top: none;
  flex-grow: 1;
}
.tabs__header {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.tabs__marked {
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=index.css.map */